@use '../../styles/layout.module' as l;
@use '../../styles/text.module' as t;

.container {
  @include l.useFlex;
  padding: 12px;
  gap: 2px;
}

.dataWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 54px;
}

.data {
  @include t.useHeading;
  position: absolute;
  padding-top: 8px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: var(--c-primary);
}

.label {
  @include t.useTitle;
}