@use '../../styles/layout.module' as l;
@use '../../styles/text.module' as t;
@use '../../styles/colors.module' as c;

.container {
  @include l.useFlex;
  padding: 12px;
  gap: 2px;
  border-radius: 4px;

  &.isAnimating {
    animation: dataContainerOnChange 150ms ease-in forwards;
  }
}

@keyframes dataContainerOnChange {
  0% {
    background-color: transparent;
  }

  25% {
    background-color: c.composeLayeredColor("surface", "primary", 2);
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: c.composeLayeredColor("surface", "primary", 2);
  }
}

.dataWrapper {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  min-width: 42px;
  height: 54px;
}

.data {
  @include t.useHeading;
  position: absolute;
  padding-top: 8px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: var(--c-primary);
}

.label {
  @include t.useTitle;
}