@use './utils.module' as u;

@mixin useSectionContainer($padding: 0 48px) {
  padding: 0 48px;

  @include u.useBreakpoint(600) {
    padding: 0 24px;
  }

  @include u.useBreakpoint(450) {
    padding: 0 16px;
  }
}

@mixin useContentContainer($margin: 0 auto, $maxWidth: 664px) {
  margin: $margin;
  max-width: $maxWidth;
}

@mixin useFlex($direction: column, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}