@forward './reset.module';
@use './colors.module' as c;
@use './text.module' as t;

:root {

  // SETTING COMMON COLOR CUSTOM PROPERTIES
  @each $color,
  $value in c.$colors {
    --c-#{$color}: #{$value};
  }

  // SETTING ELEVATION LEVEL CUSTOM PROPERTIES
  @each $level,
  $value in c.$elevationLeves {
    --c-elevation-#{$level}: #{$value};
  }
}

body {
  background-color: var(--c-background);
  color: var(--c-on-surface);
  font-family: t.$font-face-primary;
  overflow-y: scroll;
}