@forward './reset.module';
@use './colors.module' as c;
@use './text.module' as t;

:root {

  // SETTING COMMON COLOR CUSTOM PROPERTIES
  @each $color,
  $value in c.$colors {
    --c-#{$color}: #{$value};
  }

  // SETTING ELEVATION LEVEL CUSTOM PROPERTIES
  @each $level,
  $value in c.$elevationLeves {
    --c-elevation-#{$level}: #{$value};
  }
}

body {
  background-color: var(--c-background);
  color: var(--c-on-surface);
  font-family: t.$font-face-primary;
  overflow-y: scroll;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

a:focus,
button:focus {
  outline-color: 1px solid var(--c-primary);
  outline-offset: 2px;
}