@use '../../styles/text.module' as t;
@use '../../styles/layout.module' as l;
@use '../../styles/colors.module' as c;
@use '../../styles/utils.module' as u;

.container {
  @include l.useFlex($direction: row, $align: center);
  border: 1px solid var(--c-outline);
  border-radius: 4px;
  background-color: c.composeLayeredColor("surface", "on-surface", 2);
}

.actionContainer {
  @include l.useFlex($direction: row, $align: center);
  gap: 2px;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 100ms ease;

  &:not(:last-child) {
    border-right: 1px solid var(--c-outline);
  }

  &:focus-visible,
  &:focus,
  &[data-highlighted] {
    background-color: rgba(c.getColor("on-surface"), 0.08);
  }

  &>div {
    padding: 4px 8px 4px 6px;
  }

  @media (hover: hover) {
    &:not([disabled]):hover {
      background-color: rgba(c.getColor("on-surface"), 0.08);
    }
  }
}

.actionLabel {
  @include u.useSROnly;
  @include t.useTitle($size: "S", $style: normal);
  color: var(--c-on-surface);
}